@model MouratoAirport.Models.FlightsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Airplane</title>
    <link rel="stylesheet" href="~/css/Flightsadd.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="~/images/logo2-min.png" alt="">
            <h2>Airport Mourato</h2>
        </div>

        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i><a asp-action="Admin" asp-controller="Account">Dashboard</a></li>
            <li><i class="fa-solid fa-plane"></i><a asp-action="Index" asp-controller="Airplanes">Airplanes</a></li>
            <li><i class="fa-solid fa-plane-departure"></i><a asp-action="Index" asp-controller="Flights">Flights</a></li>
            <li><i class="fa-solid fa-arrow-right-from-bracket"></i><a href="#">Logout</a></li>
        </div>
    </section>


    <h2 style="position: absolute;padding-left: 400px;padding-top: 15px;">Add Flights</h2>
    <h2 style="position: absolute;padding-left: 1250px;padding-top: 15px;">Add Prices</h2>

    <form method="post">
    <div id="formFlights" style="height: 750px;">

        <div id="nameflights">
            <label for="message">Number Flight:</label>
            <input asp-for="RandomNumber" id="message" placeholder="" readonly>
        </div>

        <div id="nameflights">
            <label for="message">Date/Time:</label>
            <input asp-for="Date" type="datetime-local" id="message" placeholder="" required>
        </div>

        <div class="select">
            <label for="reason">From</label>
            <select asp-for="From" asp-items="Model.Airports"  required id="format">

            </select>
        </div>

        <div class="select">
            <label for="reason">To</label>
            <select asp-for="To" asp-items="Model.Airports" required id="format">

            </select>
        </div>

        <div class="select">
            <label for="reason">Airplane</label>
            <select asp-for="AirplaneId" asp-items="Model.Airplanes" required id="format">
                
            </select>
        </div>

        <div class="center">
            <input type="submit" value="Add Flights/Price">
        </div>

    </div>

    <div id="formFlights" style="height: 350px;position: absolute;margin-left: 1250px;margin-top:-750px">

        <div id="nameflights">
            <label for="message">Price Deluxe:</label>
            <input asp-for="Deluxe" id="message" placeholder="" required>
        </div>

        <div id="nameflights">
            <label for="message">Price Economic:</label>
            <input asp-for="Economic" id="message" placeholder="" required>
        </div>

        <div id="nameflights">
            <label for="message">Price Business:</label>
            <input asp-for="Business" id="message" placeholder="" required>
        </div>

    </div>

    </form>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>


</body>