@model MouratoAirport.Models.RecoverPasswordViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Airport Mourato - Forgot Password</title>
    <link rel="stylesheet" href="~/css/Forgotpassword.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <form method="post">

        <div class="wrapper">
            <img src="~/images/logo2-min.png">
            <h1>Forgot Password</h1>
            <h3>Insert your email and check your inbox.</h3>
            <div class="inputs">
                <div class="field">
                    <span class="material-icons">email</span>
                    <input asp-for="Email" type="text" placeholder="Insert your Email">
                </div>
                <button type="submit">Send</button>
            </div>
            <div class="link1">
                <p>Back To <a asp-action="Login" asp-controller="Account">Sign in.</a></p>
            </div>
        </div>

        @ViewBag.Message

    </form>
</body>


