@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #00ac9d;
    --secondary-color: #00467f;
    --alt-color: #f1f1f1;
    --secondary-text-color: #a3a3a3;
    --secondary-text-light: #e3e3e3;
    --secondary-color-dark: #081a29;
    --swiper-theme-color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    width: 100%;
    background: var(--secondary-color-dark);
    position: relative;
    display: flex;
}

/*=======Navbar=======*/

#menu {
    background: var(--secondary-color-dark);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

    #menu .logo {
        display: flex;
        align-items: center;
        color: var(--secondary-text-light);
        padding: 30px 0 0 30px;
    }

        #menu .logo img {
            width: 40px;
            margin-right: 15px;
        }

    #menu .items {
        margin-top: 40px;
    }

        #menu .items li {
            list-style: none;
            padding: 15px 0;
            transition: 0.3s ease;
        }

            #menu .items li:hover {
                background: #fff;
                cursor: pointer;
            }

            #menu .items li:nth-child(2) {
                border-left: 4px solid var(--primary-color);
            }

            #menu .items li i {
                color: var(--alt-color);
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 14px;
                margin: 0 10px 0 25px;
            }

            #menu .items li:hover i,
            #menu .items li:hover a {
                color: var(--secondary-color-dark);
            }


            #menu .items li a {
                text-decoration: none;
                color: var(--secondary-text-light);
                font-weight: 300px;
                transition: 0.3s ease;
            }

/*=======SearchBar=======*/

#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

    #interface .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 15px 30px;
        border-bottom: 3px solid var(--primary-color);
    }

        #interface .navigation .search {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 14px;
            border: 1px solid var(--primary-color);
            border-radius: 4px;
        }

            #interface .navigation .search i {
                margin-right: 14px;
            }

            #interface .navigation .search input {
                border: none;
                outline: none;
                font-size: 14px;
                background: transparent;
            }

        #interface .navigation .profile {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

            #interface .navigation .profile i {
                margin-right: 20px;
                font-size: 19px;
                font-weight: 400;
            }

            #interface .navigation .profile img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
            }

/*======Boxes======*/

.i-name {
    color: #222;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: -14px;
}

.containerProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    min-height: 57vh;
    background: #E3E6F3;
}

    .containerProducts #formProducts {
        padding: 20px;
        width: 500px;
        background: #fff;
    }

        .containerProducts #formProducts .row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

            .containerProducts #formProducts .row .col {
                flex: 1 1 250px;
            }

                .containerProducts #formProducts .row .col .title {
                    font-size: 20px;
                    color: #333;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                }

                .containerProducts #formProducts .row .col .inputBox {
                    margin: 15px 0;
                }

                    .containerProducts #formProducts .row .col .inputBox span {
                        margin-bottom: 10px;
                        display: block;
                    }

                    .containerProducts #formProducts .row .col .inputBox input {
                        width: 100%;
                        border: 1px solid #ccc;
                        padding: 10px 15px;
                        font-size: 15px;
                        text-transform: none;
                    }

                        .containerProducts #formProducts .row .col .inputBox input:focus {
                            border: 1px solid #000;
                        }

                .containerProducts #formProducts .row .col .flex {
                    display: flex;
                    gap: 15px;
                }

                    .containerProducts #formProducts .row .col .flex .inputBox {
                        margin-top: 5px;
                    }

                .containerProducts #formProducts .row .col .inputBox img {
                    height: 34px;
                    margin-top: 5px;
                    filter: drop-shadow(0 0 1px #000);
                }

        .containerProducts #formProducts .submit-btn {
            align-items: center;
            margin-left: 305px;
            width: 40%;
            padding: 12px;
            font-size: 17px;
            background: #bf85fa;
            color: #222;
            margin-top: 5px;
            cursor: pointer;
        }

            .containerProducts #formProducts .submit-btn:hover {
                background: #9468ac;
            }

#formProducts {
    max-width: 550px;
    width: 90%;
    background: #fff;
    margin: 7vh 0 0 400px;
    padding: 40px;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 10px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

#dindin {
    width: 14%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

.center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: var(--secondary-color-dark);
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}

.picture__input {
    display: none;
}

.picture {
    width: 100%;
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    outline: none;
}

.picture__img {
    max-width: 100%;
    max-height: 440px;
}
