@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

:root {
    --primary-color: #00ac9d;
    --secondary-color: #00467f;
    --alt-color: #f1f1f1;
    --secondary-text-color: #a3a3a3;
    --secondary-text-light: #e3e3e3;
    --secondary-color-dark: #081a29;
    --third-color: #3f32e5;
    --swiper-theme-color: var(--primary-color);
}




* {
    box-sizing: border-box;
}

/*======Navbar======*/


a {
    color: var(--alt-color);
    text-decoration: none;
}

a {
    transition: 0.4s;
    text-decoration: none;
}

    a:hover {
        color: #ccc;
    }


section {
    padding: 4em 2em;
    margin: 3em 0;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.logo {
    filter: drop-shadow(5px 5px 5px #111);
}

nav {
    z-index: 99;
    position: absolute;
    margin-right: 600px;
}

    nav a {
        text-decoration: none;
    }

    nav .container {
        padding: 1em 2em;
        max-width: 1200px;
    }

        nav .container > div,
        nav .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    nav ul {
        list-style-type: none;
        padding: 0;
        display: inline-block;
    }

        nav ul li {
            display: inline-block;
            margin: 0 0.5em;
        }

        nav ul a {
            font-size: 0.8em;
            text-transform: uppercase;
            font-weight: 900;
        }

    nav .logo {
        width: 12em;
        display: inline-block;
    }

    nav .container .menu-btn {
        display: none;
    }
/*======cartão======*/

#oof {
    position: absolute;
    margin-left: -850px;
    margin-top: 300px;
}

.label {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-align: start;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 10px;
}







.row .col .inputBox {
    margin: 15px 0;
}

.containerProfileNew #formProfile .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
    outline: none;
    text-decoration: none;
}

.row .col .inputBox input:focus {
    border: 1px solid #000;
}

.flex {
    display: flex;
    gap: 15px;
}

.row .col .flex .inputBox {
    margin-top: 5px;
}

.submit-btn {
    border: none;
    padding: 12px;
    font-size: 17px;
    font-weight: 600;
    background: var(--primary-color);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    width: 150%;
}

    .submit-btn:hover {
        background: var(--secondary-color);
    }

/*======Ticket======*/

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--secondary-color-dark);
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #1c1c1c;
    display: flex;
    justify-content: center;
}

.ticket-system {
    max-width: 385px;
    margin-top: 150px;
    margin-left: 800px;
}

    .ticket-system .top {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

        .ticket-system .top .title {
            font-weight: normal;
            font-size: 1.6em;
            text-align: left;
            margin-left: 20px;
            margin-bottom: 50px;
            color: #fff;
        }

        .ticket-system .top .printer {
            width: 90%;
            height: 20px;
            border: 5px solid #fff;
            border-radius: 10px;
            box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
        }

    .ticket-system .receipts-wrapper {
        overflow: hidden;
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .ticket-system .receipts {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateY(-510px);
        animation-duration: 2.5s;
        animation-delay: 500ms;
        animation-name: print;
        animation-fill-mode: forwards;
    }

        .ticket-system .receipts .receipt {
            padding: 25px 30px;
            text-align: left;
            min-height: 200px;
            width: 88%;
            background-color: #fff;
            border-radius: 10px 10px 20px 20px;
            box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
        }

            .ticket-system .receipts .receipt .airliner-logo {
                max-width: 80px;
            }

            .ticket-system .receipts .receipt .route {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 30px 0;
            }

                .ticket-system .receipts .receipt .route .plane-icon {
                    width: 30px;
                    height: 30px;
                    transform: rotate(90deg);
                }

                .ticket-system .receipts .receipt .route h2 {
                    font-weight: 300;
                    font-size: 2.2em;
                    margin: 0;
                }

            .ticket-system .receipts .receipt .details {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

                .ticket-system .receipts .receipt .details .item {
                    display: flex;
                    flex-direction: column;
                    min-width: 70px;
                }

                    .ticket-system .receipts .receipt .details .item span {
                        font-size: 0.8em;
                        color: rgba(28, 28, 28, .7);
                        font-weight: 500;
                    }

                    .ticket-system .receipts .receipt .details .item h3 {
                        margin-top: 10px;
                        margin-bottom: 25px;
                    }

            .ticket-system .receipts .receipt.qr-code {
                height: 110px;
                min-height: unset;
                position: relative;
                border-radius: 20px 20px 10px 10px;
                display: flex;
                align-items: center;
            }

                .ticket-system .receipts .receipt.qr-code::before {
                    content: '';
                    background: linear-gradient(to right, #fff 50%, var(--secondary-color-dark) 50%);
                    background-size: 22px 4px, 100% 4px;
                    height: 4px;
                    width: 90%;
                    display: block;
                    left: 0;
                    right: 0;
                    top: -1px;
                    position: absolute;
                    margin: auto;
                }

                .ticket-system .receipts .receipt.qr-code .qr {
                    width: 70px;
                    height: 70px;
                }

                .ticket-system .receipts .receipt.qr-code .description {
                    margin-left: 20px;
                }

                    .ticket-system .receipts .receipt.qr-code .description h2 {
                        margin: 0 0 5px 0;
                        font-weight: 500;
                    }

                    .ticket-system .receipts .receipt.qr-code .description p {
                        margin: 0;
                        font-weight: 400;
                    }




@keyframes print {
    0% {
        transform: translateY(-510px);
    }

    35% {
        transform: translateY(-395px);
    }

    70% {
        transform: translateY(-140px);
    }

    100% {
        transform: translateY(0);
    }
}




/*Seats*/

.seat {
    margin: auto;
    max-width: 260px;
    width: 20%;
    transform: rotate(-90deg);
    position: absolute;
    left: 45%;
    top: -10%;
}

.main {
    background: var(--secondary-color-dark);
}

.seat img {
    width: 100%;
}

.alva label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0rem;
}

.num span {
    background: none !important;
    color: #fff !important;
    transform: rotate(90deg);
}

.alva label input[type="checkbox"] {
    display: none;
}

.alva label span {
    position: relative;
    display: inline-block;
    color: var(--secondary-color-dark);
    background: #975ecc;
    user-select: none;
    transition: 0.5s;
    overflow: hidden;
    min-width: 25px !important;
    min-height: 25px;
    border-radius: 2px;
    text-align: center;
}

    .alva label span::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.alva label input[type="checkbox"]:checked ~ span {
    background: red;
    /* You can add image in background for selected seat  */
    width: 100%;
    height: auto;
    cursor: default;
}


.alva1 label input[type="checkbox"] {
    display: none;
}

.alva1 label span {
    position: relative;
    display: inline-block;
    color: var(--secondary-color-dark);
    background: #ccc55e;
    user-select: none;
    transition: 0.5s;
    overflow: hidden;
    min-width: 25px !important;
    min-height: 25px;
    border-radius: 2px;
    text-align: center;
}

    .alva1 label span::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.alva1 label input[type="checkbox"]:checked ~ span {
    background: red;
    /* You can add image in background for selected seat  */
    width: 100%;
    height: auto;
    cursor: default;
}

.redeption {
    background: aqua;
}



.alva2 label input[type="checkbox"] {
    display: none;
}

.alva2 label span {
    position: relative;
    display: inline-block;
    color: var(--secondary-color-dark);
    background: #5e6dcc;
    user-select: none;
    transition: 0.5s;
    overflow: hidden;
    min-width: 25px !important;
    min-height: 25px;
    border-radius: 2px;
    text-align: center;
}

    .alva2 label span::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.alva2 label input[type="checkbox"]:checked ~ span {
    background: red;
    /* You can add image in background for selected seat  */
    width: 100%;
    height: auto;
    cursor: default;
}

/*======SQUARES======*/

.square {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #5e6dcc;
    margin-left: 1500px;
    margin-top: 300px;
}

.square1 {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #cfaa55;
    margin-left: 1500px;
    margin-top: 400px;
}

.square2 {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #8455cf;
    margin-left: 1500px;
    margin-top: 500px;
}












