:root {
    --primary-color: #00ac9d;
    --secondary-color: #00467f;
    --alt-color: #f1f1f1;
    --secondary-text-color: #a3a3a3;
    --secondary-text-light: #e3e3e3;
    --secondary-color-dark: #081a29;
    --swiper-theme-color: var(--primary-color);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h1, h3 {
    color: var(--secondary-text-light);
    text-transform: uppercase;
}

a {
    color: var(--alt-color);
    text-decoration: none;
}

a {
    transition: 0.4s;
    text-decoration: none;
}

    a:hover {
        color: #ccc;
    }

p {
    font-size: 0.9em;
    color: var(--secondary-text-color);
    line-height: 1.6em;
}

section {
    padding: 4em 2em;
    margin: 3em 0;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.logo {
    filter: drop-shadow(5px 5px 5px #111);
}

nav {
    z-index: 99;
    position: relative;
}

    nav a {
        text-decoration: none;
    }

    nav .container {
        padding: 1em 2em;
        max-width: 1200px;
    }

        nav .container > div,
        nav .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    nav ul {
        list-style-type: none;
        padding: 0;
        display: inline-block;
    }

        nav ul li {
            display: inline-block;
            margin: 0 0.5em;
        }

        nav ul a {
            font-size: 0.8em;
            text-transform: uppercase;
            font-weight: 900;
        }

    nav .logo {
        width: 12em;
        display: inline-block;
        /*  filter: drop-shadow(5px 5px 5px #ccc); */
    }

    nav .container .menu-btn {
        display: none;
    }

/*======Board======*/

body {
    /* background-image: url("../images/bg.png");*/
    background: #081a29;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.board {
    width: 96.5%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
}

    .board img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 15px;
    }

    .board h5 {
        font-weight: 600;
        font-size: 14px;
    }

    .board p {
        font-weight: 400;
        font-size: 13px;
        color: #ccc;
    }

    .board .ticket {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
    }

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #f1f1f3;
}

thead td {
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #00ac9d;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}

.price p {
    background: #00467f;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
    color: rgb(255, 253, 253);
}

.buy a {
    text-decoration: none;
    font-size: 14px;
    color: #222;
    font-weight: 600;
}


/*======SearchBar======*/



.containersearch .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    width: 500px;
    margin: 38px auto;
}

    .search_wrap .search_box {
        position: relative;
        width: 500px;
        height: 60px;
    }

        .search_wrap .search_box .input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 10px 20px;
            border-radius: 3px;
            font-size: 18px;
        }

        .search_wrap .search_box .btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 100%;
            background: var(--primary-color);
            z-index: 1;
            cursor: pointer;
        }

            .search_wrap .search_box .btn:hover {
                background: var(--secondary-color);
            }

            .search_wrap .search_box .btn.btn_common .fas {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
                font-size: 20px;
            }

    .search_wrap.search_wrap_3 .search_box .input {
        border-radius: 50px;
    }

    .search_wrap.search_wrap_3 .search_box .btn {
        right: 0px;
        border-radius: 50%;
    }

